body{ /*모든 화면 - 폰트 적용 */
    font-family: 'Noto Sans KR', sans-serif;
}
#logo{ /*모든 화면 - 상단 로고*/
    font-family: 'Gowun Dodum', sans-serif;
    text-align: center;
    color: #418c2a;
    font-size: 18pt;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}
.box1{ /*모든화면 - 배경색과 분리된 하얀 구역*/
    font-family: 'Noto Sans KR', sans-serif;
    margin:auto;
    padding: 20px 10px;
    width: 70%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
#btn_top{ /*리뷰 세부 화면 - 상단 버튼 구역*/
    width:90%;
    margin:8pt;
    margin-right: 0pt;
    text-align: right;
    position:absolute;
    right:20pt;
    background-color: #ffffff;
}
.img{ 
    float/*모든 세부 화면 - 이미지들*/: left;
    margin:10pt;
}
.nickname{ /*리뷰 세부 화면 - 닉네임*/
    font-size: 12pt;
    float: left;
    margin-top: 12pt;
    border-radius: 2px / 2px;
    background-color: #ebebeb;
    width: 100px;
    height: auto;
    text-align: center;
    padding-top: 2pt;
    padding-bottom: 3pt;
}
progress{
    -webkit-appearance: none;
}
::-webkit-progress-bar{
    background-color: #e1e1e1;
    border-radius: 5px;
}
::-webkit-progress-value {
    background-color: #738b5f;
    border-radius: 5px;
}
.score{ /*리뷰 세부 화면 - 평점*/
    font-size: 11.5pt;
    border: 3px solid ffffff;
    margin: 12pt;
    float: left;
    margin-left: 10px;
}
.contents{ /*리뷰 세부 화면 - 리뷰 내용*/
    font-size: 12pt;
    width: 60%;
    text-align: left;
    position: absolute;
    left: 150pt; /*이미지 사이즈만큼*/
    top: 40pt;
}
.hash{
    margin-top: 5pt;
}
.box1_2{ /*리뷰 세부 화면 - 1번째 리뷰*/
    position: relative;
    margin:auto;
    margin-top: 45pt;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}
.box1_3{ /*리뷰 세부 화면 - 2번째 리뷰*/
    position: relative;
    margin:auto;
    margin-top: 10pt;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}

/*-----------여기부터 맛집 세부 화면-----------*/
.box2{ /*맛집 세부 화면 - 배경색과 분리된 하얀 구역*/
    margin:auto;
    padding: 90% 30px;
    width: 67%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
.box2_2{ /*맛집세부화면 - 좌우 분할 영역 왼쪽*/
    width:53%;
    height: auto;
    background-color: #ffffff;
    position:absolute;
    top:27pt;
    left:25pt;
}
.box2_3{ /*맛집세부화면 - 좌우 분할 영역 오른쪽*/
    width: 37%;
    height: auto;
    border-radius: 5px/ 5px;
    background-color: #ebebeb;
    position:absolute;
    top:27pt;
    right:25pt;
}
.box2_4{ /*가게명 상자*/
    margin-top: 7pt;
    margin-left: 10pt;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px / 5px;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 2pt;
    padding-bottom: 3pt;
    width:fit-content;
    height: auto;
    text-align: center;
    font-size: 14pt;
}
.box2_5{ /*가게 관련 내용(주소 등) 상자*/
    margin-top: 7pt;
    margin-bottom: 7pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px / 5px;
    padding: 5pt;
    font-size: 12pt;
}
.box2_tag{ /*가게 태그(?) 상자*/
    margin-bottom: 7pt;
    margin-left: 10pt;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px / 5px;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 2px;
    padding-bottom: 2px;
    width:fit-content;
    height: auto;
    text-align: center;
    float: left;
    font-size: 12pt;
}
.box2_6{/*맛집세부화면 - 지도 넣는 상자*/
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px / 5px;
    clear: left;
    padding: 5pt;
    text-align: center;
}
.map{ /*맛집세부화면 - 지도*/
    clear: left;
    margin:5pt;
}
.box2_7{ /*맛집세부화면 - 리뷰 넣는 상자*/
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    width: 94%;
    border: none;
    background-color: #ebebeb;
    border-radius: 5px / 5px;
    padding: 5pt;
    padding-bottom: 10pt;
    text-align: center;
    font-size: 12.5pt;
}
.box2_8{ /*맛집세부화면 - [리뷰미리보기] 상자*/
    width:fit-content;
    margin-bottom: 10pt;
    margin:auto;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
    font-size: 11pt;
}
.nickname2{ /*리뷰 세부 화면 - 닉네임*/
    float: left;
    margin-top: 12pt;
    border: none;
    border: 2px solid #738b5f;
    border-radius: 3px / 3px;
    background-color: #ebebeb;
    width: 90px;
    height: auto;
    text-align: center;
    padding: 1px;
    font-size: 11pt;
}
.content_2{ /*맛집 세부 화면 - 리뷰 내용*/
    width:97%;
    text-align: left;   
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding-left: 2pt;
    font-size: 11pt;
}
.box2_9{ /*맛집 세부 화면 - 리뷰 미리보기 상자*/
    position: relative;
    margin:auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    background-color: #ebebeb;
    width: 95%;
    height: 125pt;
    text-align: center;
}
#btn_2{
    padding-top: 10pt;
    text-align: center;
}
.img2_1{ /*맛집 세부 화면 - 우측 이미지 첫번째*/
    /*float: left;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;*/
    transform : translate(6%, 8%)
}
.img2_2{ /*맛집 세부 화면 - 우측 이미지 두번째부터 아래 이미지들*/
    transform: translate(6%);
    margin-top: 15pt;
    margin-right: 10pt;
    margin-bottom: 5pt;
}
.img2_3{ /*맛집 세부 화면 - 우측 이미지 두번째부터 아래 이미지들*/
    transform: translate(6%);
    margin-right: 10pt;
    margin-bottom: 5pt;
}

/*-----------여기부터 맛집 대표 메뉴 조회 화면-----------*/
.box3{ /*맛집 세부 화면 - 배경색과 분리된 하얀 구역*/
    margin: auto;
    padding: 20px 10px;
    width: 70%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
#btn3_top{ /*리뷰 세부 화면 - 상단 버튼 구역*/
    width:71%;
    margin: auto;
    text-align: right;
    position:relative;
    background-color: #f3f3f3;
}
.box3_1{
    font-size: 11pt;
    position: relative;
    margin:auto;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}
.menuname{ /*대표 메뉴 세부 화면 - 메뉴 이름*/
    float: left;
    margin-top: 12pt;
    border-radius: 2px / 2px;
    background-color: #ebebeb;
    width: fit-content;
    height: auto;
    text-align: center;
    padding-left: 7pt;
    padding-right: 7pt;
    padding-top: 2pt;
    padding-bottom: 3pt;
    font-size: 12pt;
}
.contents_3{ /*대표 메뉴 세부 화면 - 메뉴 가격, 내용*/
    font-size: 12pt;
    width: 60%;
    text-align: left;
    position: absolute;
    left: 150pt; /*이미지 사이즈만큼*/
    top: 30pt;
}

.box4{ /*회원가입 화면 - 배경색과 분리된 하얀 구역*/
  margin: auto;
  padding: 20px 10px;
  width: 45%;
  height: auto;
  position: relative;
  top: 30px;
  background-color: #ffffff;
  border-radius: 1%;
}

.box4_1{
  font-size: 11pt;
  position: relative;
  margin: auto;
  padding-top: 7pt;
  padding-bottom: 7pt;
  width: 260px;
  height: 150pt;
  background-color: #ffffff;
  text-align: left;
}

.box4_2{
  font-size: 13pt;
  position: relative;
  margin: auto;
  width: 260px;
  height: 20pt;
  background-color: #ffffff;
  text-align: center;
}

.btn4{
  color: white;
  background-color: #738b5f;
  margin-top: 13px;
  margin-left: 55px;
  width: 150px;
  height: 25pt;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12pt;
  border: none;
}

footer {
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
    margin-top: 20px;
    clear : both;
} 
