body{ /*모든 화면 - 폰트 적용 */
    font-family: 'Noto Sans KR', sans-serif;
}
#logo{ /*모든 화면 - 상단 로고*/
    text-align: center;
    color: #418c2a;
    font-size: 18pt;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}
.box1{ /*모든화면 - 배경색과 분리된 하얀 구역*/
    margin:auto;
    padding: 20px 10px;
    width: 80%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
#btn_top{ /*리뷰 세부 화면 - 상단 버튼 구역*/
    width:90%;
    margin:8pt;
    margin-right: 0pt;
    text-align: right;
    position:absolute;
    right:20pt;
    background-color: #ffffff;
}
.img{ 
    float/*모든 세부 화면 - 이미지들*/: left;
    margin:10pt;
}
.nickname{ /*리뷰 세부 화면 - 닉네임*/
    float: left;
    margin-top: 12pt;
    border: 2px solid #738b5f;
    width: 90px;
    height: auto;
    text-align: center;
}
progress{
    -webkit-appearance: none;
}
::-webkit-progress-bar{
    background-color: #e1e1e1;
    border-radius: 5px;
}
::-webkit-progress-value {
    background-color: #738b5f;
    border-radius: 5px;
}
.score{ /*리뷰 세부 화면 - 평점*/
    font-size: 12pt;
    border: 3px solid ffffff;
    margin: 12pt;
    float: left;
    margin-left: 10px;
}
.contents{ /*리뷰 세부 화면 - 리뷰 내용*/
    width:50%;
    text-align: left;
    position:absolute;
    left:250pt; /*이미지 사이즈만큼*/
    top:40pt;
}
.hash{
    margin-top: 5pt;

}
.box1_2{ /*리뷰 세부 화면 - 1번째 리뷰*/
    position: relative;
    margin:auto;
    margin-top: 45pt;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}
.box1_3{ /*리뷰 세부 화면 - 2번째 리뷰*/
    position: relative;
    margin:auto;
    margin-top: 10pt;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}

/*-----------여기부터 맛집 세부 화면-----------*/
.box2{ /*맛집 세부 화면 - 배경색과 분리된 하얀 구역*/
    margin:auto;
    padding: 90% 30px;
    width: 80%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
.box2_2{ /*맛집세부화면 - 좌우 분할 영역 왼쪽*/
    width:53%;
    height: auto;
    background-color: #ffffff;
    position:absolute;
    top:27pt;
    left:25pt;
}
.box2_3{ /*맛집세부화면 - 좌우 분할 영역 오른쪽*/
    width: 37%;
    height: auto;
    background-color: #ffffff;
    position:absolute;
    top:27pt;
    right:25pt;
}
.box2_4{ /*가게명 상자*/
    margin-top: 7pt;
    margin-left: 10pt;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding-left: 15pt;
    padding-right: 15pt;
    padding-top: 2pt;
    padding-bottom: 3pt;
    width:fit-content;
    height: auto;
    text-align: center;
    font-size: 16pt;
}
.box2_5{ /*가게 관련 내용(주소 등) 상자*/
    margin-top: 7pt;
    margin-bottom: 7pt;
    margin-left: 10pt;
    margin-right: 10pt;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding: 5pt;
}
.box2_tag{ /*가게 태그(?) 상자*/
    margin-bottom: 7pt;
    margin-left: 10pt;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding-left: 10pt;
    padding-right: 10pt;
    width:fit-content;
    height: auto;
    text-align: center;
    float: left;
}
.box2_6{/*맛집세부화면 - 지도 넣는 상자*/
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    clear: left;
    padding: 5pt;
    text-align: center;
}
.map{ /*맛집세부화면 - 지도*/
    clear: left;
    margin:5pt;
}
.box2_7{ /*맛집세부화면 - 리뷰 넣는 상자*/
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    width: 94%;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding: 5pt;
    text-align: center;
}
.box2_8{ /*맛집세부화면 - [리뷰미리보기] 상자*/
    width:fit-content;
    margin-bottom: 10pt;
    margin:auto;
    border: 2px solid #738b5f;
    border-radius: 5px / 5px;
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: center;
}
.content_2{ /*리뷰 세부 화면 - 리뷰 내용*/
    width:100%;
    text-align: left;   
    margin-top: 5pt;
    margin-bottom: 5pt;
}
.box2_9{ /*맛집 세부 화면 - 리뷰 미리보기 상자*/
    position: relative;
    margin:auto;
    margin-top: 10pt;
    margin-bottom: 10pt;
    border: 2px solid #738b5f;
    width: 95%;
    height: 125pt;
    background-color: #ffffff;
    text-align: center;
}
#btn_2{
    padding-top: 10pt;
    text-align: center;
}
.img2_1{ /*맛집 세부 화면 - 우측 이미지 첫번째*/
    /*float: left;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;*/
    transform : translate(6%, 8%)
}
.img2_2{ /*맛집 세부 화면 - 우측 이미지 두번째부터 아래 이미지들*/
    transform: translate(6%);
    margin-top: 15pt;
    margin-right: 10pt;
    margin-bottom: 5pt;
}
.img2_3{ /*맛집 세부 화면 - 우측 이미지 두번째부터 아래 이미지들*/
    transform: translate(6%);
    margin-right: 10pt;
    margin-bottom: 5pt;
}

/*-----------여기부터 맛집 대표 메뉴 조회 화면-----------*/
.box3{ /*맛집 세부 화면 - 배경색과 분리된 하얀 구역*/
    margin: auto;
    padding: 20px 10px;
    width: 60%;
    height: auto;
    position: relative;
    top: 30px;
    background-color: #ffffff;
    border-radius: 1%;
}
#btn3_top{ /*리뷰 세부 화면 - 상단 버튼 구역*/
    width:60%;
    margin: auto;
    text-align: right;
    position:relative;
    background-color: #f3f3f3;
}
.box3_1{
    position: relative;
    margin:auto;
    width: 95%;
    height: 150pt;
    background-color: #ffffff;
    text-align: center;
}
.contents_3{ /*대표 메뉴 세부 화면 - 메뉴 가격, 내용*/
    width:45%;
    text-align: left;
    position:absolute;
    left:250pt; /*이미지 사이즈만큼*/
    top:40pt;
}


footer {
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
    margin-top: 20px;
    clear : both;
} 
/*

.container{ 
    display: flex;
    flex-direction: column;
}

#header2{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

#btn_top{
    width: 100%;
    display: block;
    float:right;
}



progress{
    border: 2px solid black;
    border-radius: 5px;
    -webkit-appearance: none;
}
::-webkit-progress-bar{
    background-color: rgb(255, 255, 255);
}
::-webkit-progress-value{
    background-color: rgb(0, 70, 42);
}

img{
    margin: 10px;
}
*/