<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <mate name="viewport" content="width=device-width, initial-scale=1"></mate>
        <title>대표 메뉴 조회 화면</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/detail.css" />
    </head>

    <body bgcolor="#f3f3f3">
        <div id="logo" onclick="location.href='../../../list.html'">
            <img src="/static/YomoJomoLogo.png" width="150px" />
        </div>
        <!--헤더-->
        <h3 style="text-align: center; font-size: 14.5pt;">{{res_name}}</h3>
        <div id="btn3_top">
            <!--상단 버튼-->
            <form method="post" action="/register_menu.html">
                <input type="hidden" name="res_name" value="{{res_name}}" />
                <input
                    type="submit"
                    style="
                        border: none;
                        color: white;
                        background-color: #738b5f;
                        height: 30px;
                        width: 120px;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 11.5pt;
                    "
                    onclick="location.href='register_menu.html';"
                    value="대표메뉴 추가"
                />
                <a href="/view_detail/{{res_name}}/" color="black"><input
                    type="button"
                    style="
                        border: none;
                        color: white;
                        background-color: #738b5f;
                        height: 30px;
                        width: 150px;
                        font-family: 'Noto Sans KR', sans-serif;
                        font-size: 11.5pt;
                    "
                    onclick="location.href='detail.html';"
                    value="맛집으로 돌아가기"
                                                                         /></a>
            </form>
        </div>
        <div class="box3">
            <!--하얀 배경-->
            
            
            {% if total > 0 %}
            {% for data in menu_datas %}
            <div class="box3_1">
                <img class="img_detailfood" src="/static/image/{{data.img_path}}" width="18%;"/>
                <div class="menuname"><strong>{{data.menu_name}}</strong></div>
                <!-- <div class="contents_3">
                    : {{data.menu_price}}원<br />
                </div> --> <!--스타일 적용 안 됨-->
                <p style="font-size: 12pt;
                          text-align: left;
                          width: 60%;
                          position: absolute;
                          left:125pt;
                          top:30pt;">: {{data.menu_price}}원</p>
            </div><br />
            {% endfor %}
            
            {% else %}
            <p style="text-align:center;">
                <br>등록된 메뉴가 없습니다.
            </p>
            {% endif %}
            <br />
            
        </div>

        <footer></footer>
    </body>
</html>
