{% extends "index.html" %} {% block section %} {% if total > 0 %}
<p style="text-align: center;">
    <br />맛집 리스트 - {{total}}개의 맛집이 등록되어 있습니다.<br /><br />
</p>
{% for data in datas %}
<div style="float: left; width: 25%;">
    <div style="text-align: center;">
        <a href="/view_detail/{{data[1].res_name}}/">
            <p style="color: black;">{{data[1].res_name}}</p>
            <img
                src="/static/image/{{data[1].img_path}}"
                style="width: 230px; height: 200px; object-fit: cover;" /></a
        ><br />
    </div>
</div>
{% endfor %}

<!---페이지네이션을 위한 코드 시작-->
<div class="page-wrap" style="clear: both;">
    <br />
    <div class="page-nation">
        <ul>
            <li>
                {% for i in range(page_count)%}
                <a href="{{url_for('list_restaurants', page=i)}}" color="black">{{i+1}}</a>
                {% endfor %}
            </li>
        </ul>
        <br /><br />
    </div>
</div>

{% else %}
<p class="ranking">
    검색 결과
</p>
<div style="margin: 20px;">
    <p style="text-align: center;"><br />검색 결과가 없습니다.<br /><br /></p>
    <div
        style="
            float: left;
            margin-left: 150px;
            padding: 40px;
            border-radius: 5%;
            text-align: center;
            background-color: #f3f3f3;
        "
    >
        맛집 직접 등록하기<br /><br />
        <button
            onclick="location.href='/register_restaurant'"
            name="register"
            style="height: 30px; background-color: #738b5f; border: none; color: white;"
        >
            맛집 새로 등록
        </button>
    </div>
    <div
        style="
            float: right;
            margin-right: 150px;
            padding: 40px;
            border-radius: 5%;
            text-align: center;
            background-color: #f3f3f3;
        "
    >
        무작위로 추천받기<br /><br />
        <button
            name="register"
            style="height: 30px; background-color: #738b5f; border: none; color: white;"
            onclick="location.href='/random_res'"
        >
            무작위 추천
        </button>
    </div>

    {% endif %}
</div>
{% endblock %}
