 {% extends "index.html" %}   

    {% block section %}
    <p class="lanking">
      검색 결과
    </p>
    <div style="margin:20px">
      <article onclick="location.href='detail2.html'">
        <img src="/static/pic.jpg" alt="lanking image">
        <p>인생이막창이네</p>
      </article>
      <article onclick="location.href='detail2.html'">
        <img src="/static/pic.jpg" alt="lanking image">
        <p>승미곱창</p>
      </article>
      <article onclick="location.href='detail2.html'">
        <img src="/static/pic.jpg" alt="lanking image">
        <p>곱창먹방</p>
      </article>
    </div>
    {% endblock section %}
